.title {
    background-color: red;
    text-align: center;
    text-decoration: none;
}


body{
    display: flex;
    max-width: 1200px;
    border: 1px solid red;
    background-color: aqua;
    font-size: 60px;
  
}